/* Fonts */
:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

/* Colors */
:root {
  --color-default: #114B5F;
  --color-primary: #028090;
  --color-secondary: #456990;
  --color-font: #EAF5E9;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Titles 
--------------------------------------------------------------*/

.content h3 {
  font-size: 36px;
  color: var(--color-secondary);
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}

.content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.content p {
  font-size: 18px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn {
  background-color: var(--color-default);
  color: var(--color-font);
}

.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-font);
}


/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
#navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  top: 0px;
  background-color: var(--color-primary);
  color: var(--color-font)
}

nav {
  padding: 2rem;
}

.navbar-brand {
  flex: 1;
}


@media (max-width: 900px) {
  .navbar-buttons {
    display: none;
  }
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
section {
  padding: 2rem;
}

.home-title {
  padding: 2rem;
}

.home-title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}

.before-typed {
  display: inline-block;
}

.after-typed {
  display: block;
}

@media (max-width: 991px) {
  .home-title h1 {
    font-size: 40px;
  }

  .image-wrapper {
    margin-bottom: 2rem;
  }

}

.image-wrapper img {
  width: 80%;
  object-fit: cover;
  margin-top: 1rem;
}

.typed {
  position: relative;
  display: inline-block;
}

.typed::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.3rem;
  width: 100%;
  height: 1rem;
  z-index: -1;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.typed.animate::after {
  width: 100%;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about p {
  font-size: 1.5rem;
  text-align: center;
}

.line {
  background-color: #6592e6;
  text-align: center;
  height: 2px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  #about p {
    font-size: 0.75rem;
    padding: 1rem;
  }
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #e2e4e6;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 575px) {
  .features .nav-link h4 {
    font-size: 16px;
  }
}

.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link.active {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.features .tab-pane img {
  width: 80%;
  object-fit: cover;
}


/*--------------------------------------------------------------
# Prices Section
--------------------------------------------------------------*/

.price {
  font-size: 1rem;
}

.plan-header {
  text-align: center;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.get-started {
  margin: 3rem;
}

.get-started .php-email-form {
  background: #fff;
  padding: 30px;
  height: 100%;
}

@media (max-width: 575px) {
  .get-started .php-email-form {
    padding: 20px;
  }
}

.get-started .php-email-form h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.get-started .php-email-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.get-started .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.get-started .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.get-started .php-email-form input,
.get-started .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.get-started .php-email-form input:focus,
.get-started .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.get-started .php-email-form input {
  padding: 12px 15px;
}

.get-started .php-email-form textarea {
  padding: 12px 15px;
}

.get-started .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.get-started .php-email-form button[type=submit]:hover {
  background: var(--color-secondary);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background-color: var(--color-primary);
  color: var(--color-font);
  padding: 0rem 2rem 1rem;
}

#footer a {
  color: var(--color-font);
  text-decoration: none;
}

#footer a:hover {
  color: var(--color-default);
  text-decoration: none;
}

#footer i {
  font-size: 1.45rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}