/* Fonts */
:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

/* Colors */
:root {
  --color-default: #f2a48a;
  --color-primary: #eda27c;
  --color-secondary: #ffbc80b3;
  --color-font: #EAF5E9;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

.main {
  min-height: calc(100vh - 56px - 100px);
}

/*--------------------------------------------------------------
# Titles 
--------------------------------------------------------------*/

.content h3 {
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
  display: inline-block;
}

.content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-default);
  left: 0;
  bottom: 0;
}


.contact-content h3 {
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}

.contact-content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: var(--color-default);
  left: 0;
  bottom: 0;
}

.contact-content p {
  font-size: 18px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn {
  background-color: var(--color-default);
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: black;
}

.btn-secondary {
  background-color: black;
  color: var(--color-font);
  border: none;
  font-size: 1.3rem;

}

.btn-telephone {
  border: 1px solid black ;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
#navbar {
  width: 100%;
  position: sticky;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(99, 94, 94, 0.3);
  top: 0px;
  background-color: rgba(237, 162, 124, 0.9);
}

nav {
  padding: 2rem;
}

.navbar-brand {
  flex: 1;
}

.navbar-img {
  width: 30%;
}

.navbar-buttons {
  margin-left: 3rem;

}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
  position: relative;
}

.nav-link {
  color: black !important;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar-nav>li>a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  visibility: hidden;
  transition: width 0.3s ease-in-out;
}

.navbar-nav>li>a:focus::after,
.navbar-nav>li>a:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar-nav>li>a.services-link::after {
  content: none;
}

.navbar-nav>li>a.services-link:focus::after,
.navbar-nav>li>a.services-link:hover::after {
  content: none;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--color-primary);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
  list-style: none;

}

.navbar .dropdown ul li a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 1.1rem;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--color-font) !important;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 700px) {
  .navbar-buttons {
    display: none;
  }

  .navbar-img {
    width: 60% !important;
  }

  .navbar .dropdown ul {
    top: 100%;
    left: 0;
    opacity: 1;
    box-shadow: none;
  }

  .navbar .dropdown ul li {
    min-width: 100%;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: 100%;
  }
}

@media (max-width: 900px) {
  .navbar-img {
    width: 40%;
  }
}

#navbarCloseIcon {
  display: none;
}

#navbarTogglerIcon,
#navbarCloseIcon {
  color: white;
  font-size: 1.5rem;
}

.navbar-toggler[aria-expanded="true"] #navbarTogglerIcon {
  display: none;
}

.navbar-toggler[aria-expanded="true"] #navbarCloseIcon {
  display: inline-block;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
section {
  padding: 1rem;
}

#home {
  background-color: var(--color-primary);
}

#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  padding: 1rem;
  color: black;
}

.home-title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}

.before-typed {
  display: inline-block;
}

.after-typed {
  display: block;
}

.image-wrapper img {
  width: 30rem;
}

@media (max-width: 500px) {
  .image-wrapper img {
    width: 15rem;
  }
}

@media (max-width: 700px) {
  #home .container {
    flex-direction: column;
  }

}

@media (max-width: 991px) {

  .before-typed {
    display: block;
  }

  .home-title {
    padding: 0.75rem;
    text-align: center;
  }

  .home-title h1 {
    font-size: 35px;
  }

  .image-wrapper {
    margin-bottom: 2rem;
    text-align: center;
  }

}

.typed {
  position: relative;
  display: inline-block;
}

.typed::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.3rem;
  width: 100%;
  height: 1rem;
  z-index: -1;
  background-color: var(--color-secondary);
  transition: width 0.3s ease;
}

.typed.animate::after {
  width: 100%;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about,
#services {
  height: fit-content;
  display: flex;
  align-items: center;
}

#about {
  height: 650px;
}

#about p {
  font-size: 1.5rem;
  text-align: center;
}

.line {
  background-color: #6592e6;
  text-align: center;
  height: 2px;
  margin: 0 auto;
}

@media (max-width: 650px) {

  #about {
    height: 100vh;
  }

  #about p {
    font-size: 1rem;
    padding: 1rem;
  }
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.service-container {
  display: flex;
  justify-content: center;
}

.flip-box {
  height: 40vh;
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 10%;
  color: var(--color-font);
}

.flip-box-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10%;

}

.flip-box-front {
  background-color: var(--color-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box-back {
  background-color: var(--color-secondary);
  color: black;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.flip-box-back p {
  font-size: 0.8rem;
  margin: 1rem;

}

.text-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {

  #services {
    display: block;
  }

  .service-container {
    justify-content: center;
  }

  .flip-box {
    height: 30vh;
    width: 80%;
  }

  .flip-box-front h3 {
    text-align: center;
  }

  #clients {
    margin-top: 5rem;
  }

}


/*--------------------------------------------------------------
# Client Section
--------------------------------------------------------------*/
.clients {
  margin-top: 2rem;
  padding-top: 6rem;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clients img {
  filter: grayscale(100%);
  opacity: 0.5;
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  height: 650px;
  display: flex;
  align-items: center;
}

.get-started {
  margin: 3rem;
}

.get-started .php-email-form {
  background: #fff;
  padding: 30px;
  height: 100%;
}

@media (max-width: 575px) {
  .get-started .php-email-form {
    padding: 20px;
  }

  .get-started {
    margin: 1rem;
  }
}

.get-started .php-email-form h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.get-started .php-email-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.get-started .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.get-started .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.get-started .php-email-form input,
.get-started .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.get-started .php-email-form input:focus,
.get-started .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.get-started .php-email-form input {
  padding: 12px 15px;
}

.get-started .php-email-form textarea {
  padding: 12px 15px;
}

.get-started .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: black;
  transition: 0.4s;
  border-radius: 4px;
}

.get-started .php-email-form button[type=submit]:hover {
  background: var(--color-secondary);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {

  background-color: var(--color-primary);
  color: black;
  padding: 0rem 2rem 1rem;
}

#footer a {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

#footer i {
  font-size: 1.45rem;
}

.icon-nav {
  padding-right: 3rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-primary);
}

#progress-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-secondary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-font);
  line-height: 0;
}

.scroll-top:hover {
  background: var(--color-primary);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Whatsapp button
--------------------------------------------------------------*/
.whatsapp {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 5rem;
  z-index: 99999;
  background: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.4s;
}

.whatsapp i {
  font-size: 30px;
  color: var(--color-font);
  line-height: 0;
}

.whatsapp:hover {
  background: rgb(108, 190, 108);
}

.whatsapp.active {
  visibility: visible;
  opacity: 1;
}